@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #f9fafb;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: #334155;
  line-height: 1.75em;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
